<div class="container mx-auto py-8">
  <div class="max-w-md mx-auto bg-white dark:bg-gray-800 rounded-lg shadow p-6 text-center">
    <p class="text-gray-900 dark:text-white">Redirecting to Discord...</p>
  </div>
</div>
