<%= render PaperComponent.new do %>
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
      <%= @header %>
    </h3>
    <% if @subtitle %>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">
        <%= @subtitle %>
      </p>
    <% end %>
  </div>
  <div class="border-t border-gray-200">
    <dl>
      <%= render DataListItemComponent.with_collection(@data) %>
    </dl>
  </div>
<% end %>
