<div class="container mx-auto">
  <div class="grid grid-cols-4 gap-4">
    <div class="col-span-3">
      <%= render DataListComponent.new(
          header: "Quick Stats",
          subtitle: "little itty bitty numbers",
          data: [
              ["User Commands", UserCommand.count],
              ["Game Keys", GameKey.count],
              ["User Reactions", UserReaction.count],
              ["Birthday", Birthday.count],
              ["Afk", Afk.count]
          ]
      ) %>
    </div>
    <div class="col-span-1">
      <%= render PaperComponent.new do %>
        <% if current_user %>
          <%= render "afks/form", afk: current_user.afk %>
        <% else %>

        <% end %>
      <% end %>
    </div>
  </div>
</div>
