<div class="bg-gray-50/80 dark:bg-gray-900/50 backdrop-blur-sm shadow-lg shadow-gray-900/10 dark:shadow-black/50 border border-gray-200 dark:border-gray-800 rounded-xl overflow-hidden">
  <%= yield %>
</div>
