<% content_for(:title) { @user.name } %>
<div>
  <span class="font-bold"><%= t(".total_visits") %></span>
  <span><%= number_to_human @user.crayta_games.sum(:visits) %></span>
</div>

<% content_for(:subnav) { render 'shared/crayta_sub_nav' } %>
<%= render "crayta/games/table", pagy: @pagy, games: @games %>
