<div class="container mx-auto py-8">
  <div class="bg-white dark:bg-gray-800 rounded-lg shadow p-6 text-center">
    <p class="text-gray-900 dark:text-white">Use the search bar above to find games.</p>
  </div>
</div>
