<div id="test-result">
  <%= styled_label_for :user_reaction, :test_output %>
  <%= styled_text_field :user_reaction, :test_output, value: output %>

  <div class="text-sm pt-3 pl-1">
    <% if local_assigns.key?(:match) %>
      <% if match %>
        <span class="text-green-500"><%= t(".match") %></span>
      <% else %>
        <span class="text-red-500"><%= t(".no-match") %></span>
      <% end %>
    <% end %>
  </div>
</div>
